@import url('https://fonts.googleapis.com/css?family=Lora');


.select {
  width: 20%;
  margin: auto;
  font-family: 'Lora', serif;
  color: black;
}

option {
  margin-left: 2em;
  text-align: center;
}
