@import url('https://fonts.googleapis.com/css?family=Lora');

.App {
  text-align: center;
}


.App-header {
  background-image: url('./battlinwizard.jpg');
  background-size: cover;
  height: 150px;
  padding: 20px;
  color: #4C1502;
  font-family: 'Lora', serif;
  display: flex;
  flex-direction: column;
  border: .5px solid black;
}

.App-title {
  font-size: 3em;
  margin: 0
}

.App-intro {
  font-size: large;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-decoration: none;
}

.nav-link {
  text-decoration: none;
  font-family: 'Lora', serif;
  background: rgba(0, 0, 0, 0.45);
  padding: 5px;
}

.nav-link:visited {
  color: #fff;
}

.nav-link:hover {
  color: #c99684;
}
