.deck-card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-image: url('../CardContainer/magic_carpet.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
